html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-picture{
    height:230px;
    width:230px;
    object-fit:cover;
}

.avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
}